{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Settings {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<div class="modal fade" id="addepartments" tabindex="-1" aria-labelledby="addepartmentsLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title mx-3" id="addepartmentsLabel">Add departments</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="area-to-download">


                

                <div class="px-3">

                    <form action="{% url 'dashboard:add-department' %}" method="post">
                        {% csrf_token %}
                    
                        <textarea class="form-control mt-3" name="departments" name="" id="" cols="30" rows="10"></textarea>
                        <button 
                            type="submit"
                            style="width: 100%;"                
                            class="btn my-3 btn-secondary btn-lg d-flex align-items-center justify-content-center">
                            <span>Save</span>
                        </button>

                    </form>


                </div>

    
                
            </div>
        
        </div>
    </div>
</div>




    <div class="row mb-2 mt-4">
        <div class="col-sm-8 d-flex align-items-center">
            <h1 class="fw-extrabold mb-0">Settings</h1>
        </div>

    </div>


    <div class="row mt-3">
        <div class="col-12 col-xl-8">
            
            <div class="card border-0 shadow mb-4">
            
                <div class="card-header border-bottom">
                    <h2 class="h5 mb-0">Organization information</h2>
                </div>

                <div class="card-body">
                    <div class="d-flex d-flex align-items-center my-3">
                        <img src="media/{{ myuser.organization.logo }}" style="width:100px;" alt="">

                    </div>

                    <form action="{% url 'dashboard:update-organization' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <div>
                                    <label for="first_name">Name</label>
                                    <input class="form-control" type="text" value="{{myuser.organization.name}}" readonly>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div>
                                    <label for="last_name">Abbreviation</label>
                                    <input class="form-control" type="text" value="{{myuser.organization.abbr}}" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-6 mb-3">
                                <label for="birthday">Logo</label>
                                <div class="input-group">
                                    <input type="file" class="form-control" name="logo" id="">
                                </div>
                            </div>

                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label for="email">Type</label>
                                    <input class="form-control" type="text" name="type" value="{{myuser.organization.type}}">
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label for="email">City</label>
                                    <input class="form-control" type="text" name="city" value="{{myuser.organization.city}}">
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label for="phone">Point Fees in Rs</label>
                                    <input class="form-control" max="4000" type="number" name="fee" value="{{myuser.organization.point_fee}}">
                                </div>
                            </div>
                        </div>
                       
                        <div class="mt-2">
                            <button class="btn btn-gray-800  animate-up-2" type="submit">Update info</button>
                        </div>
                    </form>

                </div>
            </div>
           
        </div>
        <div class="col-12 col-xl-4">
            <div class="row">
                <div class="col-12 mb-4">
                     
                    <div class="card border-0 shadow mb-4">
                    
                        <div class="card-header border-bottom">
                            <div class="row">
                                <div class="col-sm-8 d-flex align-items-center">
                                    <h2 class="h5 mb-0">Departments</h2>
                                </div>
                                <div class="col-sm-4 d-flex justify-content-end">
                                    <i class="material-icons bg-primary text-white p-1"  data-bs-toggle="modal" data-bs-target="#addepartments" style="border-radius: 5px; cursor: pointer;">add</i>
                                </div>
                            </div>

                        </div>

                        <div class="card-body" style="height: 475px; overflow-y: auto;">
                            <div class="">
                                {% if all_departments %}

                                <div class="card shadow">
                            
                                    <div class="table-responsive table-striped">
                                        <table class="table align-items-center table-flush">
                                           
                                            <tbody>

                                        
                                            {% for department in all_departments %}
                                            
                                            <tr>
                                                <th class="text-gray-900" scope="row">
                                                    {{department.abbr}}
                                                </th>
                                                <td class="fw-bolder text-gray-500">
                                                    {{department.name}}
                                                </td>
                                            </tr>

                                            {% endfor %}
                                          
                              
                                            
                                            </tbody>
                                        </table>
                                    </div>
        
                                </div>

                                {% else %}

                                <div class="text-center mt-5">
                                    <img src="{% static 'notfound.png' %}" style="width: 150px; opacity: 0.6;" alt="">
                                    <div class="h4 fw-normal text-gray my-4" style="color: grey;">No department added</div>
                                </div>

                                {% endif %}
                            </div>

                        </div>
                    </div>
                            
                </div>
                
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
